:root{
    --color-brand-1: #4263EB;
    --color-brand-2: #364FC7;

    --color-grey-0: #0A0C0D;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #868E96;
    --color-grey-4: #DEE2E6;
    --color-grey-5: #F8F9FA;
    --color-grey-opacity-1: rgba(33, 37, 41, 0.5);
    
    --color-white-fixed: #FFFFFF;

    --color-like: #D7443E;



    --font-size-title-1: 1.75rem;
    --font-size-title-2: 1.25rem;
    --font-size-text-1: 1rem;
    --font-size-text-2: 0.87rem;
    --font-size-text-3: 0.75rem;

    --font-weight-title-1: 700;
    --font-weight-title-2: 600;
    --font-weight-text-1: 400;
    --font-weight-text-2: 400;
    --font-weight-text-3: 400;

    --font-line-height-title-1: 2.5rem;
    --font-line-height-title-2: 1.5rem;
    --font-line-height-text-1: 1.75rem;
    --font-line-height-text-2: 1rem;
    --font-line-height-text-3: 1rem;
}